name: "Deploy"

on:
  push:
    branches:
      - dev*
      - test
      - prod

env:
  SUBSCRIPTION_ID: f7741b3d-d2ac-4be0-8083-e8dc60675c97
  REGION: southcentralus
  PREFIX: 02h

jobs:
  Create-Resource-Groups:
    name: Create Resource Groups
    runs-on: ubuntu-latest
    steps:
      #- name: DEBUG - see GITHUB_REF
      #  run: echo "variable ${GITHUB_REF}"
      #- run: echo "GITHUB_REF_NAME = ${GITHUB_REF_NAME}"

      # extract branch name into GitHub environment BRANCH
      - name: Set env.BRANCH
      #  run: echo "BRANCH=$(echo $GITHUB_REF_NAME)" >> $GITHUB_ENV
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV

      # DEBUG: show branch name
      - name: DEBUG - Extract branch name
        shell: bash
        run: echo "This is ${{ env.BRANCH }}"
      #  id: extract_branch

      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Create resource groups
        uses: Azure/arm-deploy@v1
        with:
          scope: subscription
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          # deploymentMode: Complete
          template: ./templates/01-resourcegroups.bicep
          parameters:
            BRANCH=${{ env.BRANCH }}
            REGION=${{ env.REGION }}
            PREFIX=${{ env.PREFIX }}

  Deploy_to_bootstrap1-rg:
    name: Deploy to bootstrap1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to bootstrap1
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-bootstrap1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/10-bootstrap1.bicep
          parameters:
            REGION=${{ env.REGION }}
            PREFIX=${{ env.PREFIX }}
  

  Deploy_to_onpremhpv1-rg:
    name: Deploy to onpremhpv1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      # - name: Deploy resources to bootstrap1
      #   uses: Azure/arm-deploy@v1
      #   with:
      #     scope: resourcegroup
      #     resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-onpremhpv1-${{ env.REGION }}-rg"
      #     subscriptionId: ${{ env.SUBSCRIPTION_ID }}
      #     region: ${{ env.REGION }}
      #     deploymentMode: Complete
      #     template: ./templates/11-onpremhpv1.bicep
      #     parameters:
      #       BRANCH=${{ env.BRANCH }}
      #       PREFIX=${{ env.PREFIX }}
      #       adminPassword=${{ secrets.VMPASSWD }}
