name: "Deploy"

on:
  push:
    branches:
      - dev*
      - test
      - prod

env:
  SUBSCRIPTION_ID: f7741b3d-d2ac-4be0-8083-e8dc60675c97
  REGION: southcentralus
  PREFIX: 02h

jobs:
  Create-Resource-Groups:
    name: Create Resource Groups
    runs-on: ubuntu-latest
    steps:
      #- name: DEBUG - see GITHUB_REF
      #  run: echo "variable ${GITHUB_REF}"
      #- run: echo "GITHUB_REF_NAME = ${GITHUB_REF_NAME}"

      # extract branch name into GitHub environment BRANCH
      - name: Set env.BRANCH
      #  run: echo "BRANCH=$(echo $GITHUB_REF_NAME)" >> $GITHUB_ENV
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV

      # DEBUG: show branch name
      - name: DEBUG - Extract branch name
        shell: bash
        run: echo "This is ${{ env.BRANCH }}"
      #  id: extract_branch

      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Create resource groups
        uses: Azure/arm-deploy@v1
        with:
          scope: subscription
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          # deploymentMode: Complete
          template: ./templates/01-resourcegroups.bicep
          parameters:
            BRANCH=${{ env.BRANCH }}
            REGION=${{ env.REGION }}
            PREFIX=${{ env.PREFIX }}

  Deploy_to_bootstrap1-rg:
    name: Deploy to bootstrap1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to bootstrap1
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-bootstrap1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/10-bootstrap1.bicep
          parameters:
            REGION=${{ env.REGION }}
            PREFIX=${{ env.PREFIX }}
      # - name: Deploy resources to onpremhpv1
      #   uses: Azure/arm-deploy@v1
      #   with:
      #     scope: resourcegroup
      #     resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-onpremhpv1-${{ env.REGION }}-rg"
      #     subscriptionId: ${{ env.SUBSCRIPTION_ID }}
      #     region: ${{ env.REGION }}
      #     deploymentMode: Complete
      #     template: ./templates/11-onpremhpv1.bicep
      #     parameters:
      #       BRANCH=${{ env.BRANCH }}
      #       PREFIX=${{ env.PREFIX }}
      #       adminPassword=${{ secrets.VMPASSWD }}
  
  Deploy_to_onpremhpv1-rg:
    name: Deploy to onpremhpv1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups,Deploy_to_bootstrap1-rg]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to onpremhpv1
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-onpremhpv1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/11-onpremhpv1.bicep
          parameters:
            BRANCH=${{ env.BRANCH }}
            PREFIX=${{ env.PREFIX }}
            adminPassword=${{ secrets.VMPASSWD }}

  Deploy_to_labconsole1-rg:
    name: Deploy to labconsole1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups,Deploy_to_bootstrap1-rg]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to onpremhpv1
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-labconsole1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/12-labconsole1.bicep
          parameters:
            BRANCH=${{ env.BRANCH }}
            PREFIX=${{ env.PREFIX }}
            REGION=${{ env.REGION }}
            adminPassword=${{ secrets.VMPASSWD }}

  Deploy_to_conn1-rg:
    name: Deploy to conn1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to conn1
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-conn1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/20-conn1.bicep

  Deploy_to_lz1-rg:
    name: Deploy to lz1-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to lz11
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-lz1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/15-lz1.bicep
          parameters:
            adminPassword=${{ secrets.VMPASSWD }}
  
  Deploy_to_lz2-rg:
    name: Deploy to lz2-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to lz2
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-lz2-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/15-lz2.bicep
          parameters:
            adminPassword=${{ secrets.VMPASSWD }}

  Deploy_to_lz3-rg:
    name: Deploy to lz3-rg
    runs-on: ubuntu-latest
    needs: [Create-Resource-Groups]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy resources to lz3
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-lz3-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Complete
          template: ./templates/15-lz3.bicep
          parameters:
            adminPassword=${{ secrets.VMPASSWD }}

# ***TODO: change to az cli will be easier or module?
  Establish_vnet_peering:
    name: Deploy vnet peering
    runs-on: ubuntu-latest
    needs: [Deploy_to_conn1-rg,Deploy_to_lz1-rg]
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Establish vnet peering lz1-conn1
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: "${{ env.PREFIX }}-${{ env.BRANCH }}-lz1-${{ env.REGION }}-rg"
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          region: ${{ env.REGION }}
          deploymentMode: Incremental
          template: ./templates/21-vnetpeering-mod.bicep
          parameters:
            BRANCH=${{ env.BRANCH }}
            PREFIX=${{ env.PREFIX }}
            REGION=${{ env.REGION }}
            VNET1NAME='lz1-${{ env.REGION }}-vnet-01'
            VNET2NAME='conn1-${{ env.REGION }}-vnet-01'